<h3><%= flash[:notice] %></h3>

Welcome to your own dashboard!<br /><br />

Play along with your profile!<br /><br />

You can able to reset your password!<br /><br />

You can able to edit your profile!<br /><br />

and more!<br />